.navbar {
    display: inline-flex;
    align-items: center;
    background-color: white;
    color: orange;
    border-bottom: 1px solid rgb(216, 216, 216);
    width: 100%;
    gap: 10px;
}

.title {
    padding-right: 60rem;
    font-size: 16px;
}

.logo-image {
    width: 40px;
    height: 40px;
}

.app-name {
    font-size: 16px;
    font-weight: bold;
}
